{
  "openapi": "3.1.0",
  "info": {
    "title": "Agentic Swarm Marketplace APIs",
    "description": "Celo-native HTTP 402 on /query (api_402) plus Stripe MPP marketplace routes on the unified API host (POST /v1/orders). Live /openapi.json on https://api.agentic-swarm-marketplace.com is generated by packages/agents/marketplace_api.py with MPP x-payment-info; this static copy includes the same discovery extensions for GitHub Pages.",
    "version": "0.2.0",
    "contact": {
      "name": "Agentic Swarm Marketplace",
      "url": "https://github.com/Hobie1Kenobi/agentic-crypto-swarm-prototype"
    }
  },
  "x-service-info": {
    "categories": ["commerce", "payments", "agent-marketplace"],
    "docs": {
      "homepage": "https://www.agentic-swarm-marketplace.com/agentic-crypto-swarm-prototype/",
      "apiReference": "https://api.agentic-swarm-marketplace.com/docs",
      "llms": "https://www.agentic-swarm-marketplace.com/agentic-crypto-swarm-prototype/llms.txt"
    }
  },
  "servers": [
    {
      "url": "https://api.agentic-swarm-marketplace.com",
      "description": "Public HTTPS (Cloudflare Tunnel → unified Caddy :9080). Celo api_402 lives on :8042 behind proxy paths; see docs/endpoints.json for current routes and /health."
    },
    {
      "url": "http://127.0.0.1:8042",
      "description": "Local api_402 (API_402_PORT=8042)"
    }
  ],
  "tags": [
    { "name": "query", "description": "Paid LLM query (Celo fulfillQuery + x402-style 402)" },
    { "name": "health", "description": "Liveness" },
    { "name": "marketplace", "description": "Stripe MPP orders (unified API host :8055); see documentation/marketplace-stripe/STRIPE_MPP_INTEGRATION.md" }
  ],
  "paths": {
    "/query": {
      "get": {
        "tags": ["query"],
        "summary": "Query (GET)",
        "description": "Returns 402 with payment details if X-Payment-Tx-Hash is absent. With a valid payment tx hash, returns LLM answer JSON.",
        "operationId": "queryGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "User question (alternative: POST body {\"query\": \"...\"})."
          },
          {
            "$ref": "#/components/parameters/XPaymentTxHash"
          },
          {
            "$ref": "#/components/parameters/XPaymentAmount"
          },
          {
            "$ref": "#/components/parameters/XPaymentAmountWei"
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Paid request; LLM response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuerySuccess" }
              }
            }
          },
          "400": {
            "description": "Missing query",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" },
                "example": { "detail": "Missing query (use ?q=... or JSON body {\"query\": \"...\"})" }
              }
            }
          },
          "402": {
            "description": "Payment required (no/invalid tx) or invalid payment",
            "headers": {
              "X-Payment-Contract": {
                "schema": { "type": "string" },
                "description": "AgentRevenueService contract address"
              },
              "X-Payment-Amount-Wei": {
                "schema": { "type": "string" },
                "description": "Minimum payment in wei"
              },
              "X-Payment-Chain-Id": {
                "schema": { "type": "string" },
                "description": "Chain id for fulfillQuery"
              },
              "X-Payment-Metadata": {
                "schema": { "type": "string" },
                "description": "resultMetadata passed to fulfillQuery (x402:...)"
              },
              "X-Payment-Native-Symbol": {
                "schema": { "type": "string" },
                "description": "Native token symbol (e.g. CELO)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/PaymentRequired" },
                    { "$ref": "#/components/schemas/HttpError" }
                  ]
                },
                "examples": {
                  "challenge": {
                    "value": {
                      "message": "Payment Required",
                      "payment": {
                        "contract": "0x0000000000000000000000000000000000000000",
                        "amount_wei": "1000000000000000",
                        "chain_id": "11142220",
                        "method": "fulfillQuery(string resultMetadata)",
                        "result_metadata": "x402:example",
                        "value_eth": "0.001",
                        "native_symbol": "CELO"
                      }
                    }
                  },
                  "invalidTx": {
                    "value": { "detail": "Invalid or unconfirmed payment tx" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error (e.g. LLM failure)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          },
          "503": {
            "description": "Service not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" },
                "example": { "detail": "REVENUE_SERVICE_ADDRESS not set" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["query"],
        "summary": "Query (POST)",
        "description": "Same as GET but query text may be supplied in JSON body.",
        "operationId": "queryPost",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Optional; overrides body if both set (implementation prefers body then q)."
          },
          {
            "$ref": "#/components/parameters/XPaymentTxHash"
          },
          {
            "$ref": "#/components/parameters/XPaymentAmount"
          },
          {
            "$ref": "#/components/parameters/XPaymentAmountWei"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "User question"
                  }
                }
              },
              "example": { "query": "What is sustainable agent commerce?" }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Paid request; LLM response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuerySuccess" }
              }
            }
          },
          "400": {
            "description": "Missing query",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          },
          "402": {
            "description": "Payment required or invalid payment",
            "headers": {
              "X-Payment-Contract": { "schema": { "type": "string" } },
              "X-Payment-Amount-Wei": { "schema": { "type": "string" } },
              "X-Payment-Chain-Id": { "schema": { "type": "string" } },
              "X-Payment-Metadata": { "schema": { "type": "string" } },
              "X-Payment-Native-Symbol": { "schema": { "type": "string" } }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/PaymentRequired" },
                    { "$ref": "#/components/schemas/HttpError" }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          },
          "503": {
            "description": "Service not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["health"],
        "summary": "Health check",
        "operationId": "healthGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "post": {
        "tags": ["marketplace"],
        "summary": "Create Stripe MPP order (x402 Strategy Dashboard bundle)",
        "description": "Live on the unified public API (Caddy → marketplace :8055). Regenerate list price in discovery via MARKETPLACE_DASHBOARD_BUNDLE_PRICE_USD and npm run docs:sync-endpoints where applicable; amount below matches default 49.00 USD.",
        "operationId": "createMarketplaceOrder",
        "x-payment-info": {
          "amount": "4900",
          "currency": "usd",
          "description": "x402 Strategy Dashboard (operator bundle): Stripe MPP PaymentIntent with crypto deposit; POST creates the intent and returns settlement instructions.",
          "intent": "session",
          "method": "stripe"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "string",
                    "default": "x402_strategy_dashboard_bundle"
                  },
                  "buyer_ref": { "type": "string", "maxLength": 200 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PaymentIntent created; response includes pay_to_address and buyer_portal_url.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "402": {
            "description": "Payment required (MPP): agent must satisfy funding challenge before the paid resource is issued, when applicable.",
            "content": {
              "application/json": {
                "schema": { "type": "object", "additionalProperties": true }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          },
          "503": {
            "description": "Marketplace HTTP disabled or Stripe not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HttpError" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "XPaymentTxHash": {
        "name": "X-Payment-Tx-Hash",
        "in": "header",
        "required": false,
        "schema": { "type": "string" },
        "description": "After 402, pay via fulfillQuery on-chain, then retry the same request with this tx hash. Server verifies against AgentRevenueService."
      },
      "XPaymentAmount": {
        "name": "X-Payment-Amount",
        "in": "header",
        "required": false,
        "schema": { "type": "string" },
        "description": "Optional informational header (e.g. for gateways). The canonical amount is in the 402 body (amount_wei) and header X-Payment-Amount-Wei on the challenge response."
      },
      "XPaymentAmountWei": {
        "name": "X-Payment-Amount-Wei",
        "in": "header",
        "required": false,
        "schema": { "type": "string" },
        "description": "Optional on retry; the server verifies payment using the transaction hash, not this header alone."
      }
    },
    "schemas": {
      "QuerySuccess": {
        "type": "object",
        "required": ["query", "response"],
        "properties": {
          "query": { "type": "string" },
          "response": { "type": "string" }
        }
      },
      "PaymentRequired": {
        "type": "object",
        "required": ["message", "payment"],
        "properties": {
          "message": { "type": "string", "example": "Payment Required" },
          "payment": {
            "type": "object",
            "properties": {
              "contract": { "type": "string" },
              "amount_wei": { "type": "string" },
              "chain_id": { "type": "string" },
              "method": { "type": "string" },
              "result_metadata": { "type": "string" },
              "value_eth": { "type": "string" },
              "native_symbol": { "type": "string" }
            }
          }
        }
      },
      "HttpError": {
        "type": "object",
        "properties": {
          "detail": {
            "oneOf": [{ "type": "string" }, { "type": "array", "items": {} }]
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" },
          "revenue_contract": {
            "type": "string",
            "description": "REVENUE_SERVICE_ADDRESS or 'not set'"
          }
        }
      }
    },
    "securitySchemes": {
      "x402PaymentTx": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment-Tx-Hash",
        "description": "Celo-native x402: complete fulfillQuery on AgentRevenueService, then send the transaction hash on the retried request."
      },
      "rapidApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key",
        "description": "When the API is published behind RapidAPI, subscribers authenticate with this key. Your deployment must validate it (not implemented in api_402.py by default)."
      }
    }
  }
}
